<%= simple_form_for :player, url: players_path, defaults: {label: false} do |f| %>
  <%= f.input :game_pin_entered %>
  <%= f.input :user_name %>
  <%= f.submit "Enter the Game!", class: "" %>
<% end %>


<%= link_to "Create a new game", omniauth_authorize_path(:user, :spotify) %>



<%#= cl_image_tag("jtlum54kqzsdm6hbn7n4h6o0irql",
      width: 400, height: 300, crop: :fill) %>


<iframe src="https://open.spotify.com/embed?uri=spotify:playlist:1KGdyl3UgwzO6wG1Ivksnp" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<button type="button" class="btn btn-primary" id="test">Primary</button>

<script>
  const test2 = document.querySelector('.btn-primary');
  test2.addEventListener('click', (event) => {
  console.log(event);
});


  const test3 = document.querySelector('.b8.b9.ba.ao.bb.bc.bd.be.bf.bg.bh.bi.bj');
  test3.addEventListener('click', (event) => {
  console.log(event);
});
</script>
