 <div class="iphone-xs" style="background-image: linear-gradient(rgba(4,123,183,0.3),rgba(4,123,183,1)), url('<%= cl_image_path("AperoBlindTest/new-background_rxlqab", :fetch_format=>:auto, :crop => :scale) %>')">

  <%= render 'shared/navbar_abt' %>

  <div id="display-song-player">

    <span>
      <h1>
        <% @sorted = @game.players.sort_by { |obj| obj.score}.reverse %>
        <% @top3 = @game.players.sort_by { |obj| obj.score}.reverse.first(3) %>
        KEEP GOING!
      </h1>
    </span>

   <!--  <div>
      <h2>
        <%# if @current_player %>
        Your rank: <%#= @sorted.index(@current_player) + 1%> / <%#= @game.players.size %>
        <%# end %>
      </h2>
    </div> -->

    <span><h2>Top 3</h2></span>

    <div class="cartouche">
      <div>
          <% @top3.each do |player| %>
            <div class="cartouche-song">
              <h3><%= player.user_name %>:</h3><p><%= player.score %> POINTS </p>
            </div>
          <% end %>
      </div>
    </div>

    <div>
      <%# if @current_player == @game.answers.last.player %>
        <!-- <h4>YOUR TURN TO PLAY!</h4> -->
      <%# else %>
        <h4><%= @game.answers.last.player.user_name.upcase %> IS PLAYING</h4>
      <%# end %>
    </div>

  </div>

  <div class="display-gif-timer">
    <div id="countdown"></div>
  </div>

  <div id="modal-scores" class="hidden">
    <div class="container">
      <span class="close">&times;</span>
      <div class="score-recap">
        <h3 style="text-align: center"><strong>🏆 SCORE RECAP 🏆<strong></h3>
        <h4>
          <% @sorted = @game.players.sort_by { |obj| obj.score}.reverse %>
          <% @sorted.each do |player| %>
          <li><%= player.user_name %> : <%= player.score %></li>
          <% end %>
        </h4>
      </div>
    </div>
  </div>

</div>
