<% if @game.state != "pending" %>
  <div id="player" data-token-current-user="<%= @game.user.token %>"
  data-current-track-spotify-id="<%= @game.current_track.spotify_id %>"
  data-game-id="<%= @game.id %>"
  data-next-track-id="<%= @game.current_track_id + 1 %>"
  data-game-state="<%= @game.state %>"></div>
<% end %>

<% if @game.state == "playing"%>
  <%= render 'games/playing_user' %>
<% elsif @game.state == "resuming" %>
  <%= render 'games/playing_user' %>
<% elsif @game.state == "buzz" %>
  <%= render 'games/buzz_user' %>
<% elsif @game.state == "pending" %>
  <%= render 'games/pending_user' %>
<% elsif @game.state == "ended" %>
 <%= render 'games/ended' %>
<% elsif @game.state == "validation" %>
 <%= render 'games/validation_user' %>
<% elsif @game.state == "ended" %>
  <%= render 'games/ended' %>
<% end %>
