<div class="container" id="ended"></div>

<div class="iphone-xs" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= cl_image_path("AperoBlindTest/dark-glass_t3324r", :width=> 375, :crop => :lpad) %>')">
  <%= render 'shared/navbar_abt' %>
  <div id="winner-page">
    <div class="logo-end" class="" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url('<%= cl_image_path("AperoBlindTest/colour-hp_mwvesv", :crop => :scale) %>')">
    </div>

    <% @sorted = @game.players.sort_by { |obj| obj.score}.reverse %>
    <% @sorted_from_bottom = @game.players.sort_by { |obj| obj.score} %>
    <%# @top1 = @game.players.sort_by { |obj| obj.score}.reverse.first(1) %>

      <div class="winner-is">
        <% if @game.players.present? %>
          <span><h1>THE WINNER IS:</h1></span>
          <span><h2><%= @sorted.first.user_name %></h2></span>
        <% else %>
          <span><h1>No players..</h1></span>
        <% end %>
      </div>

      <div class="final-score">
        <% if @game.players.present? %>
          <h1>Scores:</h1>
          <% @sorted_from_bottom.each do |player| %>
            <div class="score">
              <h2 id="coolscores" class="animate__animated" style="color: white; font-size: 20px;padding-left: 5px;"><%= player.user_name %> - <%= player.score %> POINTS</h2>
            </div>
          <% end %>
        <% end %>
      </div>


    <div class="next-game">
      <h3 class= "btn-primary"><%= link_to "New Game", root_path %></h3>
    </div>
  </div>
</div>

