<div class="iphone-xs" style="background-color: white">

<%= render 'shared/navbar_abt_user' %>

  <div id="pending-user">
    <h1>LET'S GO!</h1>

    <span><h2>Share this code with your friends</h2></span>
    <div class="box-game mt-3 mb-3">
      <span class="box-game-pin" style="font-family: 'Roboto Mono';"><%= @game.game_pin[0] %></span>
      <span class="box-game-pin" style="font-family: 'Roboto Mono';"><%= @game.game_pin[1] %></span>
      <span class="box-game-pin" style="font-family: 'Roboto Mono';"><%= @game.game_pin[2] %></span>
      <span class="box-game-pin" style="font-family: 'Roboto Mono';"><%= @game.game_pin[3] %></span>
    </div>

    <span><h2>Players in the room</h2></span>
    <div class="cartouche">
      <div>
        <div class="cartouche-song">
          <% sentences = ["is ready to play!", "is on fire!", "is going to win!"] %>
          <% @game.players.each do |player| %>
            <h2 class="pendingplayers animate__animated"><%= player.user_name %> <%= sentences.sample %></h2>
          <% end %>
        </div>
      </div>
    </div>

    <div class="box-launch-game mt-3 mb-3 submit-adjust">
      <%= simple_form_for @game, method: "PATCH" do |f|%>
      <%= f.hidden_field :state, value:"playing", type:"hidden" %>
      <%= f.submit " CLICK WHEN READY ! ", class:"btn btn-nicolas"%>
      <% end %>
    </div>
  </div>
</div>
