<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <%= simple_form_for @game, defaults: {label: false}, method: "POST" do |f| %>
          <%#= f.association :playlist, as: :check_boxes %>
          <h1>Choisis ton style de musique</h1>
          <div class="form-group">
            <label class="control-label radio_buttons optional"></label>
            <!-- <input type="hidden" name="game[playlist_id]" value=""> -->
            <div class="category-choices">
              <% Playlist.all.each do |playlist| %>
                <!-- <input type="hidden" value="" name="game[playlist_id]"> -->
                <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
                <label for="playlist" class="category-choice">
                  <img src="<%= playlist.image %>" alt="">
                  <p><%= playlist.name %></p>
                  <p>
                    <%= playlist.id %>
                  </p>
                </label>
              <% end %>
             </div>
            <h1>Choisis le nombre de points</h1>
          <%#= f.input :max_score %>
          <label for="game[max_score]"></label>
          <input type="range" name="game[max_score]" min="10" max="50" value="" step="5">
          </div>
          <%= f.submit "Create a new game", class: "" %>
        <% end %>
       </div>
    </div>
  </div>
</div>
