<div class="iphone-xs" style="background-color: #030303">

<%= render 'shared/navbar_abt' %>

<div id="top-choose">
  <div class="cartouche">
    <span class="material-icons"> library_music </span>
    <h2>Choose your playlist </h2>
  </div>

 <div class="search-bar">
    <p style="color: white">SEARCHED PLAYLISTS - TO BE COMPLETED</p>
    <%= form_tag spotify_playlists_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a playlist"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="category-choices">
    <p style="color: white">RESULTS</p>
  </div>

  <%= simple_form_for @game, defaults: {label: false}, method: "POST" do |f| %>
    <!-- <div class="form-group"> -->
    <label class="control-label radio_buttons optional"></label>
    <!-- <input type="hidden" name="game[playlist_id]" value=""> -->
      <p style="color: white">YOUR PLAYLISTS (x3)</p>
      <div class="category-choices">
        <% Playlist.where(user_id: current_user.id).each do |playlist| %>
          <!-- <input type="hidden" value="" name="game[playlist_id]"> -->
          <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
          <label for="playlist" class="category-choice">
            <img class="" src="<%= playlist.image %>" alt="">
            <p><%= playlist.name %></p>
          </label>
        <% end %>
      </div>

      <p style="color: white">RECOMMENDED PLAYLISTS (x3)</p>
      <div class="category-choices">
        <% Playlist.where(user_id: nil).each do |playlist| %>
          <!-- <input type="hidden" value="" name="game[playlist_id]"> -->
          <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
          <label for="playlist" class="category-choice">
            <img class="" src="<%= playlist.image %>" alt="">
            <p><%= playlist.name %></p>
          </label>
        <% end %>
      </div>

<div id= "bottom-choose">
    <div class="cartouche">
      <span class="material-icons"> military_tech </span>
      <h2>Choose the winner score</h2>
    </div>
        <div id="choose-bar" class="cartouche-bar">
          <h3>3pts</h3>
          <h3>20pts</h3>
          <h3>35pts</h3>
          <h3>50pts</h3>
      <!-- <span class="material-icons small"> fastfood </span>
      <span class="material-icons small"> forward_5 </span>
      <span class="material-icons small"> forward_10 </span>
      <span class="material-icons small"> forward_30 </span> -->
    </div>

    <label for="game[max_score]"></label>
    <!-- <input type="range" name="game[max_score]" min="3" max="50" value="" step="5" class="range-bar">
    <span class="font-weight-bold text-primary ml-2 valueSpan2"></span> -->

    <input type="range" name="game[max_score]" list="tickmarks" min="3" max="50" value="" step="15" class="range-bar">

    <datalist id="tickmarks">
      <option value="3">
      <option value="20">
      <option value="35">
      <option value="50">
    </datalist>

    <%= f.submit "CREATE !", class: "btn btn-light blue-background" %>
  <% end %>
  </div>
</div>
