<div class="iphone-xs" style="background-image: linear-gradient(rgba(4,123,183,0.3),rgba(4,123,183,1)), url('<%= cl_image_path("AperoBlindTest/new-background_rxlqab", :fetch_format=>:auto, :crop => :scale) %>')">

<%= render 'shared/navbar_abt' %>

<div id="top-choose">
<!--   <div class="cartouche">
    <span class="material-icons"> library_music </span>
    <h2>Choose a playlist </h2>
  </div> -->

 <div class="search-bar">
    <div class="search-form-control form-group">
      <%= form_tag new_game_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a playlist on Spotify..."
        %>
        <button name="button" type="Search" class="btn btn-ghost">
        <i class="fas fa-search"></i> Search </button>
      <% end %>
    </div>
</div>

  <%= simple_form_for @game, defaults: {label: false}, method: "POST" do |f| %>
    <div class="playlist-select pt-0 mt-0">

    <div class="cartouche sticky-top">
      <span class="material-icons" style="margin: 0px;"> arrow_drop_down</span>
      <span> <p style="color: white">scroll</p> </span>
    </div>
      <% if @searched_spotify_playlists.any? %>
        <p style="color: white; font-size: 16px;">RESULTS FOR '<%= params[:query].upcase %>'</p>
        <div class="category-choices mb-2">
          <% @searched_spotify_playlists.each do |playlist| %>
            <!-- <input type="hidden" value="" name="game[playlist_id]"> -->
            <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
            <label for="playlist" class="category-choice">
              <img class="" src="<%= playlist.image %>" alt="">
              <p><%= playlist.name.first(20)%></p>
            </label>
          <% end %>
        </div>
      <% end %>

      <p style="color: white; font-size: 16px;">YOUR PLAYLISTS</p>
      <div class="category-choices mb-2">
        <% @user_private_playlists.each do |playlist| %>
          <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
          <label for="playlist" class="category-choice">
            <img class="" src="<%= playlist.image %>" alt="">
            <p><%= playlist.name.first(20) %></p>
          </label>
        <% end %>
      </div>

      <% if @searched_spotify_playlists.blank? %>
      <p style="color: white; font-size: 16px;">RECOMMENDED PLAYLISTS</p>
      <div class="category-choices mb-2">
        <% @public_spotify_playlists.each do |playlist| %>
          <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
          <label for="playlist" class="category-choice">
            <img class="" src="<%= playlist.image %>" alt="">
            <p><%= playlist.name.first(20) %></p>
          </label>
        <% end %>
      </div>
     <% end %>

  </div>
<div id= "bottom-choose">
<!--     <div class="cartouche">
      <span class="material-icons"> military_tech </span>
      <h2>Choose winning score</h2>
    </div> -->
        <div id="choose-bar" class="cartouche-bar">
          <h3>3pts</h3>
          <h3>20pts</h3>
          <h3>35pts</h3>
          <h3>50pts</h3>
    </div>

    <label for="game[max_score]"></label>

    <input type="range" name="game[max_score]" list="tickmarks" min="3" max="50" value="" step="15" class="range-bar">

    <datalist id="tickmarks">
      <option value="3">
      <option value="20">
      <option value="35">
      <option value="50">
    </datalist>

    <%= f.submit "  CREATE A NEW GAME !  ", class: "btn btn-light blue-background" %>
  <% end %>
  </div>
</div>
