<%= render 'shared/navbar_abt' %>

<div class="top">
  <div class="cartouche">
    <span class="material-icons"> playlist_add </span>
    <h2>Choose your playlist </h2>
  </div>

  <%= simple_form_for @game, defaults: {label: false}, method: "POST" do |f| %>
    <!-- <div class="form-group"> -->
    <label class="control-label radio_buttons optional"></label>
    <!-- <input type="hidden" name="game[playlist_id]" value=""> -->
    <div class="category-choices">
      <% Playlist.all.each do |playlist| %>
        <!-- <input type="hidden" value="" name="game[playlist_id]"> -->
        <input type="radio" class="hidden" value="<%= playlist.id %>" name="game[playlist_id]" style="display:none">
        <label for="playlist" class="category-choice">
          <img class="avatar-large" src="<%= playlist.image %>" alt="">
          <p><%= playlist.name %></p>
        </label>
      <% end %>
     </div>
    <h1>Choose the winner score</h1>
  <%#= f.input :max_score %>
    <label for="game[max_score]"></label>
    <input type="range" name="game[max_score]" min="3" max="50" value="" step="5" class="range-bar">
    <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
    <!-- </div> -->
    <%= f.submit "Create a new game", class: "btn btn-light blue-background" %>
  <% end %>
</div>
